In [1]:
from pykrx import stock
import pandas as pd
import numpy as np
import os
import time

In [61]:
df = pd.read_csv('NCAV.csv', encoding= 'cp949')
df = df.dropna(axis = 0)

df['회사명']=df['회사명'].str.replace('(', '')
df['회사명']=df['회사명'].str.replace('주', '')
df['회사명']=df['회사명'].str.replace(')', '')
df = df.drop(['거래소코드'], axis=1)
pd.options.display.float_format = '{:.0f}'.format
df['유 - 부'] = df['유동자산(*)(천원)'] - df['부채(*)(천원)']
df = df.rename({'회사명':'종목명'}, axis=1)
df

C:\Users\0327c\AppData\Local\Temp\ipykernel_15992\2993321947.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['회사명']=df['회사명'].str.replace('(', '')
C:\Users\0327c\AppData\Local\Temp\ipykernel_15992\2993321947.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['회사명']=df['회사명'].str.replace(')', '')

         종목명     회계년도  유동자산(*)(천원)  부채(*)(천원)       유 - 부
11     DB하이텍  2003/12    276143964  557295104  -281151140
12     DB하이텍  2004/12    377362121  601859015  -224496894
13     DB하이텍  2005/12    414713135  725202053  -310488918
14     DB하이텍  2006/12    321485560  672928286  -351442726
15     DB하이텍  2007/12    572400435 2328755237 -1756354802
...      ...      ...          ...        ...         ...
13759   흥아해운  2017/12    105819304  726492437  -620673133
13760   흥아해운  2018/12    103181415  726055487  -622874072
13761   흥아해운  2019/12     61182850  368918610  -307735760
13762   흥아해운  2020/12     51275586  304928523  -253652937
13763   흥아해운  2021/12     53674943  139842916   -86167973

[12930 rows x 5 columns]

In [62]:
df_2003 = df[df.회계년도 == '2003/12']
df_2004 = df[df.회계년도 == '2004/12']
df_2005 = df[df.회계년도 == '2005/12']
df_2006 = df[df.회계년도 == '2006/12']
df_2007 = df[df.회계년도 == '2007/12']
df_2008 = df[df.회계년도 == '2008/12']
df_2009 = df[df.회계년도 == '2009/12']
df_2010 = df[df.회계년도 == '2010/12']
df_2011 = df[df.회계년도 == '2011/12']
df_2012 = df[df.회계년도 == '2012/12']
df_2013 = df[df.회계년도 == '2013/12']
df_2014 = df[df.회계년도 == '2014/12']
df_2015 = df[df.회계년도 == '2015/12']
df_2016 = df[df.회계년도 == '2016/12']
df_2017 = df[df.회계년도 == '2017/12']
df_2018 = df[df.회계년도 == '2018/12']
df_2019 = df[df.회계년도 == '2019/12']
df_2020 = df[df.회계년도 == '2020/12']
df_2021 = df[df.회계년도 == '2021/12']

In [71]:
df_2003

           종목명     회계년도  유동자산(*)(천원)  부채(*)(천원)      유 - 부
11       DB하이텍  2003/12    276143964  557295104 -281151140
68       MH에탄올  2003/12     13015662   14214377   -1198715
106     SIMPAC  2003/12     41413553   52650207  -11236654
139     SNT홀딩스  2003/12     51128806   37149560   13979246
158        STX  2003/12    249969367  414544034 -164574667
...        ...      ...          ...        ...        ...
13634     화천기계  2003/12     46186217   38471996    7714221
13653     화천기공  2003/12     47668120   36164704   11503416
13672     환인제약  2003/12     54918678    9712447   45206231
13691  효성아이티엑스  2003/12      5597760    6507842    -910082
13745     흥아해운  2003/12     68781325  272121599 -203340274

[550 rows x 5 columns]

In [41]:
# 백테스트 할 날짜를 생성하기
def make_date_list(m, d):
    date_list = []
    for y in range(2003, 2021): # 백테스트 기간
        day = str(y) + str(m) + str(d)
        b_day = stock.get_nearest_business_day_in_a_week(date=day) #휴일이면 근처의 영업일로 변경
        date_list.append(b_day) 
    return date_list

In [46]:
date = make_date_list(6,30)
date[0][0:4]

'2003'

In [72]:
codes = stock.get_market_ticker_list('20040506', market='ALL') # 코스피, 코스닥 데이터의 종목코드 데이터
corp = []
for code in codes:
    name = stock.get_market_ticker_name(code) # 코스피, 코스닥 데이터의 종목명 데이터
    corp.append([code, name])
df = pd.DataFrame(data=corp, columns=['code', '종목명']) 
df = df.set_index('code') # 종목코드 인덱스화 
df_c = stock.get_market_cap_by_ticker('20040506', market='ALL')
df = pd.merge(df, df_c, left_index=True, right_index=True)
df = pd.merge(df, df_2003, how = 'outer', on='종목명')
stock.get_market_cap_by_ticker('20040506', market='ALL')

            종가            시가총액      거래량          거래대금      상장주식수
티커
005930  528000  78755255040000  1161899  623912248060  149157680
017670  201000  16537618911000   198546   39895701000   82276711
060000   42800  14397026164800  2670249  114690080130  336379116
015760   19600  12558672030800  1479970   28977680160  640748573
005490  140000  12455261700000   478014   67190770000   88966155
...        ...             ...      ...           ...        ...
002365  119000        74018000       50       5450000        622
002105  197000        66192000       30       5910000        336
012805  240000        51360000        0             0        214
007595  197000        49250000        0             0        250
001385  298500         9850500        0             0         33

[1734 rows x 5 columns]

In [ ]:
def ncav(date, date2, a, b): 

    # 종목코드와 종목명으로 데이터프레임 만들기 
    codes = stock.get_market_ticker_list(date, market='ALL') # 코스피, 코스닥 데이터의 종목코드 데이터
    corp = []
    for code in codes:
        name = stock.get_market_ticker_name(code) # 코스피, 코스닥 데이터의 종목명 데이터
        corp.append([code, name])
    df = pd.DataFrame(data=corp, columns=['code', '종목명']) 
    df = df.set_index('code') # 종목코드 인덱스화 
 
    # 종가, 1년 후 종가 불러오기 
    df_c = stock.get_market_cap_by_ticker(date=date, market='ALL')  # 종가 
    df_c2 = stock.get_market_cap_by_ticker(date2, market='ALL')  # 1년 후 종가
 
    time.sleep(1) # 프로그램 1초 정지
    
    df_c2 = df_c2[['종가', '상장주식수']]
    df = pd.merge(df, df_c, left_index=True, right_index=True)
    df = pd.merge(df, df_c2, left_index=True, right_index=True)
 
    df = df[['종목명', '종가_x', '상장주식수_x', '종가_y', '상장주식수_y', '거래량']]
    df.columns = ['종목명', '종가', '상장주식수', '1년후종가', '1년후상장주식수', '거래량']
    df['상장주식수변동'] = df['1년후상장주식수'] - df['상장주식수']

    for i in range(date):
        if date[i][0:3] == str(2003+i):
            pd.merge(df, )
 
    # df = df[df[a] > 0]  # PBR 0이상만 구하기
    # df[a + '_rank'] = df[a].rank()
 
    # df = df[df[b] > 0] # # DPS 0이상만 구하기
    # df[b + '_rank'] = df[b].rank()
 
    # df[a+b] = df[a + '_rank'] + df[b + '_rank']
    # df[a + b + '_rank'] = df[a+b].rank()
    # df = df.sort_values([a + b + '_rank'])
 
    df = df[df['거래량'] > 0]  # 거래량이 0 이상인 종목만 구하기

    df = df.iloc[:30]  # 종목개수
    df['수익'] = df['1년후종가'] - df['종가']
 
    df['수익'].loc[df['상장주식수변동'] < 0] = df['1년후종가'] * (1 + df['상장주식수변동'] / df['상장주식수']) - df['종가']
 
    df['수익률'] = (df['수익'] / df['종가'])
    df['투자년도'] = np.array([date] * len(df))
 
    p = df['수익률'].mean()
 
    result = []
    result.append([date, date2, p])
 
    df_t = pd.DataFrame(data=result, columns=['투자일', '1년후', '수익률'])
    return df, df_t

In [ ]:
# 투자 시작년도부터 마직막 년도까지 반복
def inverst_years(date_list): # 맨 위에서 만든 백테스트 투자일 리스트
    
    for n in range(len(date_list)):
        if n < len(date_list)-1:
            date = date_list[n]
            date2 = date_list[n+1]

            if n == 0:
                df_t = row_pbr_dps(date, date2, 'PER', 'PBR')[1]
                df = row_pbr_dps(date, date2, 'PER', 'PBR')[0]
 
            else:
                df_t = pd.concat([df_t, row_pbr_dps(date, date2, 'PER', 'PBR')[1]])
                df = pd.concat([df, row_pbr_dps(date, date2, 'PER', 'PBR')[0]])
    return df_t

In [ ]:
a = inverst_years(date)

In [ ]:
def cagr(m):
    원금 = 100000000
    for i in range(len(m)):
        원금 += 원금 * m.iloc[i, 2]
    수익률 = (원금 - 100000000) / 100000000
    return 원금, 수익률

cagr(a)